@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply antialiased;
}

body {
  @apply bg-white text-gray-900 dark:bg-slate-900 dark:text-gray-100 transition-colors;
}
